---

language: node_js
node_js:
  - 10

sudo: false

cache:
  directories:
    - "node_modules"

before_install:
  - npx lerna bootstrap

before_script:
  - make build

script:
  - make lint-ci
  - make test

