extends /layouts/application.pug

block content
  h1 Nodos Project
  // TODO: refactor check as `currentUser.isGuest` after wrapping Prisma object with entity classes
  if !currentUser
    h3 You are not logged in

    a(href=route('buildSession')) Login
  else
    h3 You are logged in as #{currentUser.email}
    form(action=route('session') method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="_method" value="DELETE")
      input(type="submit" value="Logout")
