extends /layouts/application.pug

block content
  h1 Nodos Project
  if currentUser.isGuest
    h3 You are not logged in

    a(href=buildPath('buildSession')) Login
  else
    h3 You are logged in as #{currentUser.email}
    form(action=buildPath('session') method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="_method" value="DELETE")
      input(type="submit" value="Logout")
