extends /layouts/application.pug

block content
  form(action=route('users') method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    .mb-3
      label.form-label Email
      input.form-control(type="text" name="user[email]" value=user.email)
    .mb-3
      label.form-label Name
      input.form-control(type="text" name="user[name]" value=user.firstName)
    div
      button.btn.btn-primary(type="submit") Submit

